<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>









   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated base -->
      <package
            uri="http://omg.sacm/2.0/base"
            class="base.Base_Package"
            genModel="model/base.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated argumentation -->
      <package
            uri="http://omg.sacm/2.0/argumentation"
            class="argumentation.Argumentation_Package"
            genModel="model/argumentation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated artifact -->
      <package
            uri="http://omg.sacm/2.0/artifact"
            class="artifact.Artifact_Package"
            genModel="model/artifact.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated terminology -->
      <package
            uri="http://omg.sacm/2.0/terminology"
            class="terminology.Terminology_Package"
            genModel="model/terminology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated assurancecase -->
      <package
            uri="http://omg.sacm/2.0/assurancecase"
            class="assuranceCase.AssuranceCase_Package"
            genModel="model/assurancecase.genmodel"/>
   </extension>

</plugin>
